.App {
  text-align: center;
}

button.delete {
  border: 0px;
  border-radius: 5px;
  background-color: #be3434;
  color: #ffffff;
  padding: 5px 10px;
  cursor: pointer;
}

button.trigger {
  border: 0px;
  border-radius: 5px;
  background-color: #0f3460;
  color: #ffffff;
  padding: 5px 10px;
  cursor: pointer;
}
